.lorem {
    color: aqua;
}

.delete { 
    font-size: large;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-color: blue;
}

.containerdelete {
    display: flex;
    justify-content: center;
}